<footer class="footer">
    <div class="section__container footer__container">
        <div class="footer__col">
            <h3>Destiny Destinations</h3>
            <p>
                Destiny Destinations is a premier destination booking website that offers a seamless and
                convenient way to find and book accommodations worldwide.
            </p>
            <p>
                With a user-friendly interface and a vast selection of amazing destinations,
                Destiny Destinations aims to provide a stress-free experience for travelers
                seeking the perfect stay.
            </p>
        </div>
        <div class="footer__col">
            <h4>Company</h4>
            <p>About Us</p>
            <p>Contact Us</p>
        </div>
        <div class="footer__col">
            <h4>Legal</h4>
            <p>FAQs</p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
        </div>
    </div>
</footer>
