<div class="booking__container">
    <form id="bookingForm">
        <div class="form__group">
            <div class="input__group">
                <input type="text" id="destination" name="location" class="border p-2 w-full max-w-md mx-auto mt-2" required>
                <label for="destination">Location</label>
            </div>
            <p>Where are you going?</p>
        </div>
        <div class="form__group">
            <div class="input__group">
                <label for="checkIn">Check In</label>
                <input type="date" id="checkIn" name="check_in_date" class="border p-2 w-full max-w-md mx-auto mt-2" required>
            </div>
            <p>Add date</p>
        </div>
        <div class="form__group">
            <div class="input__group">
                <label for="checkOut">Check Out</label>
                <input type="date" id="checkOut" name="check_out_date" class="border p-2 w-full max-w-md mx-auto mt-2" required>
            </div>
            <p>Add date</p>
        </div>
        <div class="form__group">
            <div class="input__group">
                <label for="guests">Guests</label>
                <input type="text" id="guests" name="adults" class="border p-2 w-full max-w-md mx-auto mt-2" required>
            </div>
            <p>Add guests</p>
        </div>
        <button type="submit" id="searchButton" class="btn"><i class="ri-search-line"></i>Search</button>
    </form>
</div>
