<form id="place-search" class="cell is-col-span-12 field is-grouped">
    <input class="input control is-expanded" type="text" placeholder="Destination" id="destination">
    <input class="input control is-expanded" type="text" placeholder="Where do you want to go?" id="search-bar">
    <button type="submit" class="button control is-info" id="search-button">Search</button>
</form>
<form id="itinerary-form" class="field is-horizontal">
    <div class="control">
        <div class="select is-small">
            <select required id="choose-itinerary">
                <option>Create OR Choose an Itinerary</option>
                <option id="new-itinerary">New Itinerary</option>
            </select>
        </div>
        <div class="control">
            <input class="input control is-expanded is-small" type="text" placeholder="Name your Itinerary"
            id="itinerary-name">
        </div>
    </div>
    <div class="control">
        <button class="button is-small mb-3" id="delete-button">Delete Itinerary</button>
    </div>
    <div class="control">
        <button class="button is-small mb-3" id="save-button">Save</button>
    </div>
</form>
