<div class="modal-container" id="modal_container">
    <div class="modal">
        <header>
            <h1>What is your Destination</h1>
            <button class="close" id="close"><ion-icon name="close-outline"></ion-icon></button>
        </header>
        <form>
            <input class="input control is-expanded" type="text" placeholder="Ex. Clearwater, FL" id="destination">
        </form>
        <button class="search" id="searchButton">Search</button>
    </div>
</div>
