@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 7rem 1rem;
}

.section__header {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}

img {
    width: 100%;
    display: flex;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

a {
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
    text-decoration: none;
}

.link a:hover {
    color: var(--primary-color);
}

.header__container {
    padding: 1rem 1rem 5rem 1rem;
}

.header__image__container {
    position: relative;
    min-height: 500px;
    background-image: linear-gradient(to right,
            rgba(44, 56, 85, 0.9),
            rgba(52, 217, 232, 0.1)),
        url("/assets/images/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

.header__content {
    max-width: 600px;
    padding: 5rem 2rem;
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--white);
}

.header__content p {
    color: var(--extra-light);
}

.booking__container {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.booking__container form {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.booking__container .input__group {
    width: 100%;
    position: relative;
}

.booking__container input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
}

.booking__container input:focus~label {
    font-size: 0.8rem;
    top: 0;
}

.booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
}

.booking__container .btn {
    padding: .5rem;
    outline: none;
    border: none;
    font-size: 1.25rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.booking__container .btn:hover {
    background-color: var(--primary-color-dark);
}

/* 
    The styles for the navigation bar, header, and booking container were adapted from the WebDesignMastery tutorial project:
    https://github.com/WebDesignMastery/WDM-Co_07-07-23 
*/

.footer {
    background-color: var(--extra-light);
}

.footer__container {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 5rem;
}

.footer__col h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.footer__col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.footer__col p {
    margin-bottom: 1rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
}

.footer__col p:hover {
    color: var(--text-dark);
}

.footer__bar {
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: right;
    overflow: hidden;
}

.footer__bar::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 28rem;
    transform: translateY(-50%);
    width: 20rem;
    height: 2px;
    background-color: var(--text-light);
}

/* Styles for the results container */
.results__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.hotel-card {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.hotel-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.hotel-details {
    padding: 1rem;
}

.hotel-details h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-dark);
}

.hotel-details p {
    color: var(--text-light);
    margin-bottom: 0.5rem;
}

/* Styles for error message */
.error-message {
    color: red;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}

@media (width < 900px) {
    .booking__container form {
        grid-template-columns: repeat(2, 1fr);
    }

    .popular__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .client__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 600px) {
    .nav__links {
        display: none;
    }

    .header__container {
        padding-bottom: 25rem;
    }

    .booking__container {
        flex-direction: column;
        bottom: -25rem;
    }

    .booking__container form {
        grid-template-columns: repeat(1, 1fr);
    }

    .popular__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .client__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__container {
        gap: 2rem;
    }
}

/* Existing CSS */
/* Add new styles at the end */

/* Styles for the results container */
.results__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.hotel-card {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.hotel-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.hotel-details {
    padding: 1rem;
}

.hotel-details h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-dark);
}

.hotel-details p {
    color: var(--text-light);
    margin-bottom: 0.5rem;
}

/* Styles for error message */
.error-message {
    color: red;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}

@media (max-width: 900px) {
    .booking__container form {
        grid-template-columns: repeat(2, 1fr);
    }

    .popular__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .client__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .results__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .nav__links {
        display: none;
    }

    .header__container {
        padding-bottom: 25rem;
    }

    .booking__container {
        flex-direction: column;
        bottom: -25rem;
    }

    .booking__container form {
        grid-template-columns: repeat(1, 1fr);
    }

    .popular__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .client__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__container {
        gap: 2rem;
    }

    .results__container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* 
    The styles for the footer and results container were adapted from the WebDesignMastery tutorial project:
    https://github.com/WebDesignMastery/WDM-Co_07-07-23 
*/