/*Web Design Mastery header*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/*Variables*/
:root {
  --primary-color: #2c3855;
  --primary-color-dark: #435681;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 7rem 1rem;
}

.section__header {
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  display: flex;
  justify-content: center;
}

/*Navigation*/
nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}

/*Link styling*/
.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

a {
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
  text-decoration: none;
}

.link a:hover {
  color: var(--primary-color);
}


/*Content*/

main {
  min-height: 100vh;
}

/*Search bars*/
#place-search {
  height: 7vh;
}

/*Search results*/
#search-results {
  height: 90vh;
} 

/*Itinerary section*/
#saved-places {
  height: 81vh;
}

.grid {
  height: 100vh;
}

/*Card styling*/
.card {
    
  border-radius: 0%;
  margin-bottom: .1em
}

.card-header {
  box-shadow: none;
}

.content {
  padding: 0 0 1em 1em;
}

/*Web Design Mastery footer*/
.footer {
    background-color: var(--extra-light);
  }
  
  .footer__container {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 5rem;
  }
  
  .footer__col h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .footer__col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .footer__col p {
    margin-bottom: 1rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .footer__col p:hover {
    color: var(--text-dark);
  }
  
  .footer__bar {
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: right;
    overflow: hidden;
  }
  
  .footer__bar::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 28rem;
    transform: translateY(-50%);
    width: 20rem;
    height: 2px;
    background-color: var(--text-light);
  }