{{> modal}}

<h2 id="welcomeHeader"></h2>

<div id="weather-info"></div>

<a class="nav-item nav-link linkToPage" href="/hotel">Hotels</a>
<a class="nav-item nav-link linkToPage" href="/itinerary">Itinerary</a>
