<header class="section__container header__container">
    <div class="header__image__container">
        <div class="header__content">
            <h1>Enjoy Your Dream Vacation</h1>
            <p>Book destinations that you are going to love!</p>
        </div>
        {{> hotelForm}}
    </div>
</header>

<section id="results" class="section__container results__container"></section>
