<main>
    <div class="fixed-grid has-12-cols m-3">
        <div class="grid">
            {{> itineraryForm}}
            <div id="search-results" class="cell is-col-span-8"></div>
            <div id="itinerary-list" class="cell is-col-span-4">
                <div id="saved-places"></div>
            </div>
        </div>
    </div>
</main>
